/* HTML Selectors */
:root {
  --main-color: #016fb9ff;
  --accent-1: #22aed1ff;
  --main-background-color: #ffffffff;
  --main-text-color: #000000ff;
  --accent-2: #6d8ea0ff;
}

body {
  font-family: 'Georgia';
}


footer {
  background-color: var(--main-color);
  color: white;
  padding: 5px;
  text-align: center;
}

header {
  margin: auto;
  text-align: center;
}

div {
  margin: 20px
}
button {
  margin: 5px;
  align-items: center;
  background-color: var(--main-color);
  border: 0;
  border-radius: 5px;
  font-size: 13px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 30px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover{
  background-color: #00436F;
  color: #ffffff;
}


label {
  display: inline-block;
  min-width: 120px;
  text-align: right;
}

main {
  text-align: center;
}

nav {
  background-color: var(--main-color);
  color: white;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li:first-child {
  display: block;
}

nav ul li {
  display: none;
  list-style: none;
  margin: 10px;
}

nav ul li a {
  color: white;
  display: block;
  padding: 18px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #efefef;
  color: black;
}
nav img {
  float: left;
  width: 90px;
}


/* Class Selectors */
.active {
  background-color: white;
  color: black;
}

.open li {
  display: block;
}

.container {
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cell {
  flex-grow: 0.25;
  /* border: 1px solid; */
}

@media (max-width: 720px) {
  .cell {
    width: calc(50% - 2px)
  }
}

@media (max-width: 360px) {
  .cell {
    width: calc(100% - 2px)
  }
}



/* Media Queries */
@media only screen and (min-width: 32.5em) {
  nav ul {
      flex-direction: row;
  }
  
  nav ul li:first-child {
      display: none;
  }

  nav ul li {
      display: inline;
      margin: 0 10px;
  }

  #temples {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 64em) {
  #temples {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
